[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
torch = "*"
six = "*"
scipy = "*"
astropy = "*"
autograd = "*"
palettable = "*"
seaborn = "*"
torchvision = "*"
pyprob = {editable = true, git = "https://github.com/pyprob/pyprob"}

[requires]
python_version = "3.8"
